.header {
    display: flex;
    justify-content: space-between;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $white;

    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;

    height: 70px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 10px 0px;
}

.header__nav {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__elem {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    margin-right: 30px;

    &--link {
        color: $black;
        text-decoration: none;
    }


    &:last-child {
        margin-right: 0px;
    }
    
}