$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #1A212F;
$black-opacity: rgba(26, 33, 47, .25);
$orange-hover: #F05B1B;
$orange: #FF7236;
$grey: #E1E1E1;
$yellow: #FAC663;
